*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

client/node_modules
Server/node_modules

client/.env
Server/.env

client/dist/
Server/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?